node_modules
npm-debug.log
.expo
.expo-shared
dist
build
android/app/build
ios/build
*.log
.DS_Store
.vscode
.git
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage
*.tgz
*.tar.gz